scripts/templates/analytics-collection.json
{
  "name": "Maya AI Analytics Collection",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "value": 6
            }
          ]
        }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "url": "=http://maya-ai:8000/api/content/published",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Published Content",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "name": "Split Published Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        700,
        300
      ]
    },
    {
      "parameters": {
        "url": "=http://maya-ai:8000/api/analytics/collect",
        "allowUnauthorizedCerts": true,
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": {
          "content_id": "={{$json.id}}",
          "platforms": "={{$json.platforms}}",
          "collect_engagement": true
        }
      },
      "name": "Collect Analytics",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        940,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.success}}",
              "operation": "equal",
              "value2": "true"
            }
          ]
        }
      },
      "name": "Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1180,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://maya-ai:8000/api/content/{{$json.content_id}}/analytics/update",
        "allowUnauthorizedCerts": true,
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": {
          "analytics": "={{$json.analytics}}"
        }
      },
      "name": "Update Content Analytics",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1400,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://maya-ai:8000/api/content/notification",
        "allowUnauthorizedCerts": true,
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": {
          "type": "error",
          "message": "Error collecting analytics: {{$json.error}}",
          "content_id": "={{$json.content_id}}",
          "timestamp": "={{$now.toISOString()}}"
        }
      },
      "name": "Send Error Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1400,
        400
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Published Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Published Content": {
      "main": [
        [
          {
            "node": "Split Published Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Published Items": {
      "main": [
        [
          {
            "node": "Collect Analytics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect Analytics": {
      "main": [
        [
          {
            "node": "Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success?": {
      "main": [
        [
          {
            "node": "Update Content Analytics",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Error Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7f77cbf1-ea98-4c64-b3f3-9d87aec6eb6d",
  "id": "3",
  "meta": {
    "instanceId": "b96c32e85b4ac08f6b87cc49a649f16c91b489a42c6c69ff40ebf6e90fd"
  },
  "tags": [
    {
      "name": "Maya AI",
      "color": "#c93b05"
    }
  ]
}
